<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Games Monitor</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<style>
	.choose-action-options {
		display: none;
	}
	</style>
</head>
<body>

<div class="container">
	{{{body}}}
</div>
<script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>

<script>
	$(document).ready(function() {
		$('#choose-action').on('change', function(e) {
			$('.choose-action-options').hide();
			var action = $('#choose-action option:selected').val();
			switch(action) {
				case 'game':
					$('#addGame').show();
					break;
				case 'feature':
					$('#addFeature').show();
					break;
				case 'platform':
					$('#addPlatform').show();
					break;
				case 'genre':
					$('#addGenre').show();
					break;
				case 'session':
					$('#addSession').show();
					break;
				default:
			}
		});
	});
</script>

</body>
</html>